<div class="col-lg-8 col-md-offset-2">
  <h1>编辑项目</h1>

  <%= render 'form' %>

  <%= link_to '查看项目', @project_post,class:"btn btn-mini btn-primary" %> |
  <%= link_to '返回项目列表', project_posts_path,class:"btn btn-mini btn-primary" %>
</div>
