<div class="col-lg-8 col-md-offset-2">
  <h1>活动记录</h1>
  <tbody>
    <% @activity_posts.each do |a_post| %>
        <h3><li><%=link_to a_post.title, a_post%></li></h3>
         <% end %>
         <div class="apple_pagination">
            <div clas="page_info">
               <%= page_entries_info @activity_posts %>
            </div>
               <%= will_paginate @activity_posts,:previous_label => '上一页',:next_label => '下一页',:container => false %>
        </div>
     </div>
  </tbody>
</div>

