<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
  <div class="list-group">
    <h2><%=link_to "公司动态", posts_path,class: "list-group-item active"%></h2>
    <h2><%=link_to "公司项目", project_posts_path,class: "list-group-item active"%></h2>
    <h2><%=link_to "员工活动", activity_posts_path,class: "list-group-item active"%></h2>
    <h2><%=link_to "员工信息管理", staffs_path,class: "list-group-item active"%></h2>            
   </div>
 </div>
    <img src="/assets/admin_index.jpg" align="right">