<center><h1>公司简介</h1></center><br />
  <div class="row">
   	<div class="col-12 col-sm-12 col-lg-12">
	  <p><% 70.times do%>&nbsp;<% end %>北京安慧音通科技有限责任公司（Beijing Anhuiyintong Technology Co.,Ltd.），简称“安慧科技”，是专业从事智能语音信号处理、数字<br />
	  <p><% 62.times do%>&nbsp;<% end %>信号处理的高新技术企业，为用户提供完善的解决方案和配套产品。<br /><br />
      <p><% 70.times do%>&nbsp;<% end %>安慧科技作为专业的无线通讯、智能语音识别领域技术服务提供商，以强大的技术支持体系聚焦行业级客户。致力于以客户需求为导向，<br />
      <p><% 62.times do%>&nbsp;<% end %>打造客制化服务体系，为客户提供专业技术解决方案和配套产品。多年来先后承接党、政机关等科研任务，积累了大量核心技术和自主知识<br />
      <p><% 62.times do%>&nbsp;<% end %>产权，产品广泛应用于政府、安全、医疗等国家部委和单位机构，得到应用单位的一致认可和赞誉。<br /><br />
      <p><% 70.times do%>&nbsp;<% end %>安慧科技在语音识别领域拥有智能关键词检测、声纹识别和语种识别等核心技术。在非特定人连续语音识别方面，公司拥有完全的自主知识<br />
      <p><% 62.times do%>&nbsp;<% end %>产权，并处于国内领先水平。公司开发的多项核心技术在美国国家标准与技术研究院（NIST）说话人识别评测 （SRE12）和西班牙语种识别评测<br />
      <p><% 62.times do%>&nbsp;<% end %>（Albayzin LRE12）国际学术评测中取得优异成绩。在自主研制的“医院语病历报告录入系统”和“中英双向互译系统”已成功投放市场，并荣获<br />
      <p><% 62.times do%>&nbsp;<% end %>“2012年科委中小企业创新基金支持项目”。<br /><br />
      <p><% 70.times do%>&nbsp;<% end %>安慧科技在无线通讯、数字信号处理领域具有行业领先优势。特别在“应用软件无线电技术”及“低频信号定位、通讯、解析”等方面，积累大量的<br />
      <p><% 62.times do%>&nbsp;<% end %>科学数据和经验。<br /><br />
	  <p><% 70.times do%>&nbsp;<% end %>安慧科技以提供“安全、稳定、可靠”的产品为方针，努力提高服务质量，致力于为用户提供最佳的解决方案。  	
    </div>
  </div>
</center>