<div class="col-lg-8 col-md-offset-2">
  <h1>编辑通知</h1>
    <%= render 'form' %>
    <%= link_to '查看', @post,class:"btn btn-mini btn-primary" %> |
    <%= link_to '返回', posts_path,class:"btn btn-mini btn-primary" %>
</div>

