<div class="col-lg-8 col-md-offset-2">
   
<h1>编辑文章</h1>
<%= render 'form' %>
   
   
<%= link_to '查看文章', @activity_post,class:"btn btn-mini btn-primary" %> |
<%= link_to '返回文章列表', activity_posts_path,class:"btn btn-mini btn-primary" %>
